on:
  push:
  pull_request:

name: test

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        platform:
          - centos7
          - centos8
          - fedora35
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install tox
      - run: |
          tox -e ${{ matrix.platform }} -- test
